.app, body, html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: medium;
  color: black;
}

h1 {
  padding: 0.25rem;
}

/* Cat profile styling */

.profile-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.card {
  margin: 1rem;
}

.card-title {
  align-self: center;
}

.card-img {
  width: 18rem;
  height: 18rem;
}

.profile-picture {
  width: 18rem;
  height: 18rem;
  border-radius: 5rem;
}

.paw-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.fa-paw {
  display: block;
  padding: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}

.badge {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #36b8cf;
  color: black;
  border-radius: 5px;
}

/* Profile page styling */
.cat-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Contact Page*/
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  resize: vertical;
}

.contact-font {
  font-size: large;
  font-weight: bolder;
  width: 90%;
}


input[type=text], input[type=email], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*Media Queries*/
@media screen and (min-width: 500px) and (max-width: 700px) {
  .nav-li a {
    font-size: large;
  }
}

/* Search formatting */
.search-results {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}