:root {
  --sidebar-width: 100px;
  --sidebar-bg-colour: white;
  font-family: 'Darker Grotesque', sans-serif;
}

a {
  text-decoration: none;
  font-size: medium;
  color: black;
}

h1 {
  padding: 0.25rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  right: 0;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-li {
  padding: 0.5rem;
  right: 0;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background-color: cadetblue;
}

.profile {
  padding: 1rem 0.25rem 1rem 0.25rem;
  border: #ccc 1px ridge;
  margin: 0.7rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.cat-profile {
  padding: 1rem;
  /*border: #ccc 1px ridge;*/
  margin: 0.7rem 0;
  font-size: medium;
  display: block;
  text-align: center;
}

.cat-preview {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.cat-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}
.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

.profile-preview {
  padding: 1rem 0.25rem 1rem 0.25rem;
  border: #ccc 1px ridge;
  margin: 0.7rem 0;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.profile-preview-name {
  font-size: 35px;
  font-weight: bold;
  padding: 0.2rem;
}

.paw-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.fa-paw {
  display: block;
  padding: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}

.badge {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #36b8cf;
  color: black;
  border-radius: 5px;
}

/*Search form & bar formatting*/
.form {
  width: 100%;
  padding: 0.25rem;
  display: flex;
}

.search-bar {
  width: 85%;
  height: 30px;
}

.search-btn {
  height: 35px;
  background-color: aqua;
}

.search-results {
  display: flex;
  flex-direction: column;
}

/*Contact Page*/
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  resize: vertical;
}

.contact-font {
  font-size: large;
  font-weight: bolder;
  width: 90%;
}


input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}